In [23]:
import pandas as pd
train_data = pd.read_csv('./data/application_train.csv')
test_data = pd.read_csv('./data/application_test.csv')

In [24]:
train_data.shape

(307511, 122)

In [25]:
train_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
train_data.sample(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
235452,372725,0,Cash loans,M,Y,Y,0,405000.0,640080.0,31261.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
147410,270917,0,Cash loans,F,N,Y,0,90000.0,90000.0,9693.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
202904,335214,0,Cash loans,M,N,N,1,135000.0,273636.0,30870.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
62835,172883,0,Cash loans,M,Y,Y,1,202500.0,1078200.0,38200.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
255440,395572,0,Cash loans,F,N,Y,0,112500.0,1620000.0,56439.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
254769,394806,0,Cash loans,M,N,Y,0,144000.0,392427.0,18423.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
136607,258447,0,Cash loans,F,N,Y,0,112500.0,615109.5,22221.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
245591,384227,0,Cash loans,F,N,N,0,202500.0,719946.0,30631.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
201410,333467,0,Cash loans,M,Y,N,1,247500.0,450000.0,23107.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
120548,239771,1,Cash loans,F,N,Y,0,90000.0,360000.0,20794.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
len(train_data.keys())

122

In [34]:
categorical_features = [
    "TARGET",
	"NAME_CONTRACT_TYPE",
	"CODE_GENDER",
	"FLAG_OWN_CAR",
	"FLAG_OWN_REALTY",
	"NAME_TYPE_SUITE",
	"NAME_INCOME_TYPE",
	"NAME_EDUCATION_TYPE",
	"NAME_FAMILY_STATUS",
	"NAME_HOUSING_TYPE",
	"FLAG_MOBIL",
	"FLAG_EMP_PHONE",
	"FLAG_WORK_PHONE",
	"FLAG_CONT_MOBILE",
	"FLAG_PHONE",
	"FLAG_EMAIL",
	"OCCUPATION_TYPE",
	"REGION_RATING_CLIENT",
	"REGION_RATING_CLIENT_W_CITY",
	"REG_REGION_NOT_LIVE_REGION",
	"REG_REGION_NOT_WORK_REGION",
	"LIVE_REGION_NOT_WORK_REGION",
	"REG_CITY_NOT_LIVE_CITY",
	"REG_CITY_NOT_WORK_CITY",
	"LIVE_CITY_NOT_WORK_CITY",
	"ORGANIZATION_TYPE",
	"FONDKAPREMONT_MODE",
	"HOUSETYPE_MODE",
	"WALLSMATERIAL_MODE",
	"EMERGENCYSTATE_MODE",
	"FLAG_DOCUMENT_2",
	"FLAG_DOCUMENT_3",
	"FLAG_DOCUMENT_4",
	"FLAG_DOCUMENT_5",
	"FLAG_DOCUMENT_6",
	"FLAG_DOCUMENT_7",
	"FLAG_DOCUMENT_8",
	"FLAG_DOCUMENT_9",
	"FLAG_DOCUMENT_10",
	"FLAG_DOCUMENT_11",
	"FLAG_DOCUMENT_12",
	"FLAG_DOCUMENT_13",
	"FLAG_DOCUMENT_14",
	"FLAG_DOCUMENT_15",
	"FLAG_DOCUMENT_16",
	"FLAG_DOCUMENT_17",
	"FLAG_DOCUMENT_18",
	"FLAG_DOCUMENT_19",
	"FLAG_DOCUMENT_20",
	"FLAG_DOCUMENT_21"
]

for feature in categorical_features:
    train_data[feature] = train_data[feature].astype("category")
    if feature != "TARGET":
    	test_data[feature] = test_data[feature].astype("category")

In [36]:
for i, t in enumerate(test_data.dtypes):
    print(test_data.columns[i], t)

SK_ID_CURR int64
NAME_CONTRACT_TYPE category
CODE_GENDER category
FLAG_OWN_CAR category
FLAG_OWN_REALTY category
CNT_CHILDREN int64
AMT_INCOME_TOTAL float64
AMT_CREDIT float64
AMT_ANNUITY float64
AMT_GOODS_PRICE float64
NAME_TYPE_SUITE category
NAME_INCOME_TYPE category
NAME_EDUCATION_TYPE category
NAME_FAMILY_STATUS category
NAME_HOUSING_TYPE category
REGION_POPULATION_RELATIVE float64
DAYS_BIRTH int64
DAYS_EMPLOYED int64
DAYS_REGISTRATION float64
DAYS_ID_PUBLISH int64
OWN_CAR_AGE float64
FLAG_MOBIL category
FLAG_EMP_PHONE category
FLAG_WORK_PHONE category
FLAG_CONT_MOBILE category
FLAG_PHONE category
FLAG_EMAIL category
OCCUPATION_TYPE category
CNT_FAM_MEMBERS float64
REGION_RATING_CLIENT category
REGION_RATING_CLIENT_W_CITY category
WEEKDAY_APPR_PROCESS_START object
HOUR_APPR_PROCESS_START int64
REG_REGION_NOT_LIVE_REGION category
REG_REGION_NOT_WORK_REGION category
LIVE_REGION_NOT_WORK_REGION category
REG_CITY_NOT_LIVE_CITY category
REG_CITY_NOT_WORK_CITY category
LIVE_CITY_NOT_WORK_CITY category
ORGANIZATION_TYPE category
EXT_SOURCE_1 float64
EXT_SOURCE_2 float64
EXT_SOURCE_3 float64
APARTMENTS_AVG float64
BASEMENTAREA_AVG float64
YEARS_BEGINEXPLUATATION_AVG float64
YEARS_BUILD_AVG float64
COMMONAREA_AVG float64
ELEVATORS_AVG float64
ENTRANCES_AVG float64
FLOORSMAX_AVG float64
FLOORSMIN_AVG float64
LANDAREA_AVG float64
LIVINGAPARTMENTS_AVG float64
LIVINGAREA_AVG float64
NONLIVINGAPARTMENTS_AVG float64
NONLIVINGAREA_AVG float64
APARTMENTS_MODE float64
BASEMENTAREA_MODE float64
YEARS_BEGINEXPLUATATION_MODE float64
YEARS_BUILD_MODE float64
COMMONAREA_MODE float64
ELEVATORS_MODE float64
ENTRANCES_MODE float64
FLOORSMAX_MODE float64
FLOORSMIN_MODE float64
LANDAREA_MODE float64
LIVINGAPARTMENTS_MODE float64
LIVINGAREA_MODE float64
NONLIVINGAPARTMENTS_MODE float64
NONLIVINGAREA_MODE float64
APARTMENTS_MEDI float64
BASEMENTAREA_MEDI float64
YEARS_BEGINEXPLUATATION_MEDI float64
YEARS_BUILD_MEDI float64
COMMONAREA_MEDI float64
ELEVATORS_MEDI float64
ENTRANCES_MEDI float64
FLOORSMAX_MEDI float64
FLOORSMIN_MEDI float64
LANDAREA_MEDI float64
LIVINGAPARTMENTS_MEDI float64
LIVINGAREA_MEDI float64
NONLIVINGAPARTMENTS_MEDI float64
NONLIVINGAREA_MEDI float64
FONDKAPREMONT_MODE category
HOUSETYPE_MODE category
TOTALAREA_MODE float64
WALLSMATERIAL_MODE category
EMERGENCYSTATE_MODE category
OBS_30_CNT_SOCIAL_CIRCLE float64
DEF_30_CNT_SOCIAL_CIRCLE float64
OBS_60_CNT_SOCIAL_CIRCLE float64
DEF_60_CNT_SOCIAL_CIRCLE float64
DAYS_LAST_PHONE_CHANGE float64
FLAG_DOCUMENT_2 category
FLAG_DOCUMENT_3 category
FLAG_DOCUMENT_4 category
FLAG_DOCUMENT_5 category
FLAG_DOCUMENT_6 category
FLAG_DOCUMENT_7 category
FLAG_DOCUMENT_8 category
FLAG_DOCUMENT_9 category
FLAG_DOCUMENT_10 category
FLAG_DOCUMENT_11 category
FLAG_DOCUMENT_12 category
FLAG_DOCUMENT_13 category
FLAG_DOCUMENT_14 category
FLAG_DOCUMENT_15 category
FLAG_DOCUMENT_16 category
FLAG_DOCUMENT_17 category
FLAG_DOCUMENT_18 category
FLAG_DOCUMENT_19 category
FLAG_DOCUMENT_20 category
FLAG_DOCUMENT_21 category
AMT_REQ_CREDIT_BUREAU_HOUR float64
AMT_REQ_CREDIT_BUREAU_DAY float64
AMT_REQ_CREDIT_BUREAU_WEEK float64
AMT_REQ_CREDIT_BUREAU_MON float64
AMT_REQ_CREDIT_BUREAU_QRT float64
AMT_REQ_CREDIT_BUREAU_YEAR float64